.git
.gitignore
.github

node_modules/

.next/
out/
build/
dist/

**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg-info/
.installed.cfg
*.egg

venv/
.venv/
env/
.env/
ENV/

dist/
build/
*.tsbuildinfo

test/
**/*.spec.ts
**/*.test.ts
**/*.test.tsx
vitest.config.ts
.eslintrc.cjs
.eslintrc.json
coverage/
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
coverage.xml
nosetests.xml

.env
.env.*
!.env.example
secrets.json

.vscode/
.idea/
*.swp
.DS_Store
*.swo

postman/
*.ps1
README.md

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml

*.log
pip-log.txt
pip-delete-this-directory.txt